/* CSS declarations go here */

html, body {
  background-color: black;
  margin:0;
  padding: 0;
  height:100%;
  color:white;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin:2px;
}

tr:hover {
    color: lightblue;
}

th,td {
  border: 1px solid gray;
  padding: 2px;
  font-weight: normal;
}

th {
  text-align: left;
}

td .state {
  width:115px;
  opacity: 0.3;
}

td.selected .state, 
td.preselected .state,
td:hover .state {
  opacity: 1;
/*  background-image: url('data:image/svg+xml;utf8,<svg><rect x="0" y="0" width="100%" height="100%" style="fill:rgb(0,255,0)"/></svg>');*/
}

a, a:visited {
  color:white;
}

.group {
  text-align: center;
}


#player {
  overflow:hidden;
}

#player .info {
  position: absolute;
  top:50vh;
  display: block;
  width: 100%;
  text-align: center;
}

#player video {
  width:100%;
  height: auto;
  margin:0;
  padding:0;
}

#player[data-state=stop] video {
  visibility: hidden;
}
